my-config/voice_transcript.json
{
  "name": "voice transcript",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audio-transcription",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "audio-transcription",
      "id": "19bf8e3b-6fc2-4836-acde-d396210ae934"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        240,
        0
      ],
      "id": "8d4ee74f-68b6-4217-81d1-cf2428f8358c",
      "credentials": {
        "openAiApi": {
          "id": "y5IeiPzPtJuwvtKz",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the raw transcription result\nconst transcription = $input.first().json.text || \"No transcription available\";\n\n// Make sure we're sending the exact format expected by the frontend\nreturn {\n  json: {\n    success: true,\n    transcription: transcription\n  }\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        460,
        0
      ],
      "id": "a1723a94-3048-473c-8481-2f57b63f33cc"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        0
      ],
      "id": "cbf24b26-2fa7-48c4-8d3c-bd2aa50366e0"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "tytan.polon.ai",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "146.70.55.228",
            "x-real-ip": "146.70.55.228",
            "content-length": "163896",
            "sec-ch-ua-platform": "\"macOS\"",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Google Chrome\";v=\"135\", \"Not-A.Brand\";v=\"8\", \"Chromium\";v=\"135\"",
            "content-type": "multipart/form-data; boundary=----WebKitFormBoundaryyprzQ5cMb3qLBUhZ",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "fr,en-US;q=0.9,en;q=0.8,fr-FR;q=0.7,nl;q=0.6,pl;q=0.5",
            "priority": "u=1, i"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://tytan.polon.ai/webhook/audio-transcription",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97fd33ce-14ad-4026-ab63-441123e8142d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1258ae0c0652627c18939129e746598a04f298b2b2390b83c03fc4a2e602d8dc"
  },
  "id": "88Puumg3PRZKrl7n",
  "tags": []
}